
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutUs</h1>
<p>ABC Logistic Company is a company which main purpose is to help in delivering products.</p>

